[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://event-app-backend-production-c0e6.up.railway.app"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
